.analytics-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.analytics-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/public/analyticspage.png') center/cover no-repeat;
  filter: blur(5px);
  z-index: -1;
}

.analytics-content {
  position: relative;
  z-index: 1;
  width: 90vw;
  height: 75vh;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.analytics-content h2 {
  margin-bottom: 1rem;
  color: #000;
}

.chart-wrapper {
  width: 100%;
  flex: 1;
  margin-top: 40px;
}

.charts-wrapper {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 40px;
}

.charts-wrapper > div {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 6px;
  padding: 1rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.action-button {
  margin-top: 1rem;
  padding: 8px 16px;
  background-color: #ccad56;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #927627;
}
